.browser_state
  %h4= browser_state.uri
  
  .text
    %strong All text on the page
    %br
    %br
    - unless Nokogiri::HTML(browser_state.raw_html).css('body').empty?
      = Nokogiri::HTML(browser_state.raw_html).css('body').first.inner_html.gsub(/<\/?[^>]*>/, " ").html_safe
    
  .html
    %br
    %strong Full HTML
    %br
    %br
    = browser_state.raw_html
    