%h2 
  Contact
  = @formageddon_thread.formageddon_recipient
  
= render 'form', :thread => @formageddon_thread

:plain
  <style>
    .formageddon_contact_form {
      padding: 20px;
    }
    .formageddon_contact_form label {
      width: 120px;
      display: inline-block;
      vertical-align: top;
      line-height: 2em;
    }
  </style>
  